<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <script src="https://kit.fontawesome.com/23bf6444a3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css">

</head>

<body class="home__body">
  <header class="home__header">
    <section class="home__section">

      <div class="home__header__mobile"> <img class="home__logo" src="/img/logo-mercado-liebre.svg" alt="Logo"
          width="100%">
      </div>
    
      <div>
        <form action="">
          <input type="text" placeholder="Buscar productos, marcas" id="search">
        </form>
      </div>


      <div class="home__header__div">
        <i class="fa-solid fa-hand-holding-dollar">
          <div id="home__compra">Comprá en cuotas y sin tarjeta de crédito</div>
        </i>

      </div>
    </section>
    <section class="home__nav__general">
      <nav class="home__navbar">
        <ul>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendas">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/Ayuda">Ayuda</a></li>
            </ul>
            </nav>
            <nav class="home__navbar__icon">
                <ul>  
                <li><a href="/registro">Crea tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
                <li><a href="/ingresar">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="/micompra">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
             </ul>
      </nav>
    </section>
    <div id="home__hamburguer">
      <i class="fas fa-bars"></i>
    </div>
  </header>

  <form action="/login" method="post">
    <div class="fecha">
      <label>Nombre y Apellido</label>
      <input type="text" name="usuario" placeholder="Nombre y apellido" required>
    </div>
    <div class="fecha">
      <label> Usuario</label>
      <input type="text" name="usuario" placeholder="Nombre de usuario" required>
    </div>
    <div class="fecha">
      <label>E-mail</label>
      <input type="email" name="email" placeholder="E-mail" required>
    </div>
    <div class="fecha">
      <label> Fecha de Nacimiento:</label>
      <input type="date" name="fechanac" value="" />
    </div>
    <div class="fecha">
      <label>Domicilio</label>
      <input type="text" name="domicilio" placeholder="domicilio">
    </div>
    <div class="perfill">
      <h3>Perfil del usuario</h3>
      <div class="usuario">

        <label>Vendedor</label>
        <input type="radio" name="usuario" value="vendedor">
        <label>Comprador</label>
        <input type="radio" name="usuario" value="comprador">
      </div>
      <h3> Intereses</h3>
      <div class="Intereses">

        <input type="checkbox" value="Electro" id="Electro">
        <label for="Electro">Electro</label>
      </div>
      <div class="Intereses">

        <input type="checkbox" name="Intereses" id="Moda">
        <label for="Electro">Moda</label>
      </div>
      <div class="Intereses">

        <input type="checkbox" name="Intereses" id="Hogar">
        <label for="Electro">Hogar</label>
      </div>
      <div class="Intereses">

        <input type="checkbox" name="Intereses" id="Jugueteria">
        <label for="Electro">Jugueteria</label>
      </div>
      <div class="Intereses">

        <input type="checkbox" name="Intereses" id="Vida sana">
        <label for="Electro">Vida sana</label>
      </div>
      <div>
        <h3>seleccione una foto de perfil</h3>
        <label></label>
        <input type="file">
      </div>
    </div>
    </div>



    <div class="fecha">
      <label>Contraseña:</label>
      <input type="password" name="contrasena" value="" placeholder="Ingrese su contraseña..." required>
      <label>Repetir Contraseña:</label>
      <input type="password" name="recontrasena" value="" placeholder="Confirme su contraseña..." required>
    </div>
    <div class="contenor_botones">
      <button type="submit" title="Ingresar" name="Ingresar">Enviar</button>
      <button type="reset">Borrar</button>
    </div>



  </form>


</body>

</html>