
.fecha{
    padding: 5%;
    height: 100px;
    border-radius: none;
}
.fecha input{
    font-size: 128%;
}
h3{
    margin-top: 20px;
}



.formu{
    width: 100%                    ;
}


.fieldset{
    display: block;
    padding: 10px;
    height: 90vh;
    
}

.Intereses {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
    width: 40%;
    
    

            
    
    
  }
.usuario {
    display: flex;
    flex-direction: row-reverse;
align-items: center;
padding: 10px;
}
.Intereses input{    
    margin: 0 ;
    
    
}


#Electro{
    padding: auto;
    border: 1px solid red;

}
.contenor_botones{
    
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 75px;


}
.contenor_botones button{
    margin: auto;
    font-size: 20px;
    background-color: #fff;
    width: 25%;
    border-radius: 16px;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.contenor_botones button:hover{
    background-color: #0022AA;
}
.perfill{
    padding: 5%;
    
}
.caja_general{
    display: block;
}

.interesgeneral{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.interesgeneral label{
    width: 0px;
    margin: 0px;
}
@media (min-width: 768px){
    .fecha input {
        font-size: 100%;
    }
    .contenor_botones{
    
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-top: 116px;
    
    }
    .cajagenerallogin{position: relative;
        left: 10%;
        width: 80%;
        
    }

}
/* DESKTOP */
@media (min-width: 1024px){
    .main__section__div p{
        text-align: center;
    }
    .fecha {
        padding: 5%;
        height: 100px;
        border-radius: none;
    }
    .cajagenerallogin {
        display: flex;
    align-items: center;
    width: 30%;
    position: relative;
    left: 29%;
    }
    .home__section, .home__nav__general {
        max-width: 1024px;
        display: flex;
        justify-content: space-between;
        position: relative;
        left: 15%;
    }

}