.contraseña_ingresar{
    
    margin: 6%;
    width: 30%;
    display: flex;
    flex-direction: column;
    border: none;
    margin-left: 34%;
    ;
}
.contraseña_ingresar button{
    font-size: 30px;
    background-color: rgba(15, 15, 32, 0.842);
    color: white;
    margin-block: 2%;
    transition-property: background-colori, color;
    transition-duration: 0.5s;
}
.contraseña_ingresar button:hover {
    background-color: #0022AA;
    color: #fff;
}
form {
    width: 100%;
    align-self: center;
    margin-top: 10px;
    padding: 0%;
}